<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Minlog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header-content">
            <h1 class="logo"><a th:href="@{/minlog}">Minlog</a></h1>
            <nav class="nav">
                <a th:href="@{/minlog/login}" class="nav-link">로그인</a>
            </nav>
        </div>
    </header>
</div>
</body>
</html>